.container {
  max-width: 128rem;
  margin: 0 auto;
  min-height: calc(100vh - var(--nav-height));
  padding: var(--default-1v-pd);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--bg-gap);
}

.main {
  width: 50%;
  font-size: var(--mx-fs);
  font-weight: var(--md-weight);
  margin-bottom: var(--m-12);
}

.main span {
  display: block;
  color: var(--violet-color);
  text-transform: uppercase;
  font-weight: var(--mx-weight);
}

.secondary {
  font-size: var(--md-fs);
  margin-bottom: var(--m-48);
}

.btn {
  font-size: var(--md-fs);
  color: var(--dark-color);
  text-decoration: none;
  background-color: var(--orange-color);
  padding: var(--default-2v-pd);
  border-radius: var(--default-brdr-rd);
  border: none;
  transition: var(--animation);
}
.btn:hover,
.btn:active,
.btn:focus-visible {
  background-color: var(--orange-btn-hvr-color);
  outline: none;
}

@media (max-width: 1280px) {
  .container {
    max-width: 64rem;
    flex-direction: column;
  }

  .main {
    font-size: var(--bg-fs);
  }

  .img-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 48rem;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 32rem;
  }
}
