<div class="container">
  <form class="form" #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">
    <div class="input-group">
      <label for="email">Email</label>
      <input
        id="email"
        name="email"
        type="text"
        #emailInput="ngModel"
        ngModel
        required
        email
      />
      <ng-container *ngIf="emailInput.touched">
        <p class="error-message" *ngIf="emailInput.errors?.['email']">
          Invalid email address!
        </p>
        <p class="error-message" *ngIf="emailInput.errors?.['required']">
          Email is required!
        </p>
      </ng-container>
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        #passwordInput="ngModel"
        ngModel
        required
        minlength="6"
      />
      <ng-container *ngIf="passwordInput.touched">
        <p class="error-message" *ngIf="passwordInput.errors?.['minlength']">
          Password with 6 or more characters required!
        </p>
        <p class="error-message" *ngIf="passwordInput.errors?.['required']">
          Password is required!
        </p>
      </ng-container>
    </div>

    <div class="link-group">
      <p>Already have an Account?</p>
      <a class="link orange-link" routerLink="/register">Register &rarr;</a>
    </div>

    <button class="btn">Login</button>
  </form>
</div>
