.nav {
  height: var(--nav-height);
  font-size: var(--default-fs);
  font-weight: var(--md-weight);
  padding: var(--default-2v-pd);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--md-gap);
}

.inner {
  justify-content: space-between;
}

.nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--md-gap);
}

.nav a,
.nav button {
  color: inherit;
  font-size: inherit;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: var(--animation);
}

.nav button {
  background-color: transparent;
  border: none;
}

.nav a:hover,
.nav button:hover {
  color: var(--hvr-color);
}
