<div class="container">
  <p
    [ngClass]="{
      notification: true,
      error: notification.type === 'error',
      success: notification.type === 'success',
      show: notification.status
    }"
  >
    {{ notification.message }}
  </p>
  <form class="form" [formGroup]="form" (ngSubmit)="registerHandler()">
    <div class="input-group">
      <label for="email">Email</label>
      <input id="email" type="text" formControlName="email" />
      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error-message" *ngIf="form.get('email')?.errors?.['email']">
          Invalid email address!
        </p>
        <p
          class="error-message"
          *ngIf="form.get('email')?.errors?.['required']"
        >
          Email is required!
        </p>
      </ng-container>
    </div>

    <div class="input-group">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
      <ng-container *ngIf="form.get('name')?.touched">
        <p
          class="error-message"
          *ngIf="form.get('name')?.errors?.['minlength']"
        >
          Name with 3 or more characters required!
        </p>
        <p class="error-message" *ngIf="form.get('name')?.errors?.['required']">
          Name is required!
        </p>
      </ng-container>
    </div>

    <ng-container formGroupName="passwords">
      <div class="input-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" />
        <ng-container *ngIf="form.get('passwords')?.get('password')?.touched">
          <p
            class="error-message"
            *ngIf="form.get('passwords')?.get('password')?.errors?.['minlength']"
          >
            Password with 6 or more characters required!
          </p>
          <p
            class="error-message"
            *ngIf="form.get('passwords')?.get('password')?.errors?.['required']"
          >
            Password is required!
          </p>
        </ng-container>
      </div>

      <div class="input-group">
        <label for="rePassword">Repeat Password</label>
        <input id="rePassword" type="password" formControlName="rePassword" />
        <p
          class="error-message"
          *ngIf="form.get('passwords')?.errors?.['matchPassword']"
        >
          Repeat password do not match Password!
        </p>
      </div>
    </ng-container>

    <div class="link-group">
      <p>Already have an Account?</p>
      <a class="link violet-link" routerLink="/login">&larr; Login</a>
    </div>

    <button class="btn">Register</button>
  </form>
</div>
