<div class="container">
  <form class="form">
    <div class="input-group">
      <label for="email">Email</label>
      <input id="email" name="email" type="text" />
    </div>

    <div class="input-group">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" />
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
    </div>

    <div class="input-group">
      <label for="rePassword">Repeat Password</label>
      <input id="rePassword" name="rePassword" type="password" />
    </div>

    <button class="btn">Register</button>
  </form>
</div>
